*.pdf
!cube.pdf
!CFOP.pdf

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.lot
*.lof
*.toc
*.idx
*.ind
*.ilg
*.xdv
*.glo
*.hd
*.tcbtemp
test.tex

# LaTeX beamer files
*.nav
*.snm
*.vrb
*.cut

# LaTeX temporary files
*.tmp
*.swp
*.swo
*~
missfont.log

# macOS
.DS_Store

# LaTeX backup files
*.bak
*.backup

# Linux bash
*.sh